@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/Image/QuoteImage.jpg" alt="" height=400 width=1100 loading="lazy" />
    <h1 class="display-4">Quotes Corner</h1>
    <p>Famous quotes for you</p>
</div>
