@{
    ViewData["Title"] = "Home Page";
}

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
    img {
        position: relative;
        width: 100%;
        height: auto;
    }
</style>

<body>
    
    <img src="~/Image/Bird.jpg" />

</body>

<div class="text-center">
    <p>  </p>
    <p>  </p>
        <h1 class="display-4">Quotes Corner</h1>
        <p>Famous quotes for you</p>
 </div>
